<html>
<head>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background-color: rgb(159, 242, 235);
        }
        .header {
            background-color: rgb(139, 189, 242);
            padding: 20px;
            text-align: center;
            font-family:'Times New Roman';
        }
    </style>
    <title> Books</title>
    <script type="text/javascript" src="/static/main.js"></script>
    <link href="/static/main.css" rel="stylesheet">
    </head>

    <body>
        <div class="header">
            <h1>Мои книги</h1>
        </div>
        <h1> Список прочитанных книг</h1>

        <form>
            <div>
                <input type="text" name="author" id="author">
                <label for="author"><i>Автор</i></label>
            </div>
                <input type="text" name="name" id="name">
                <label for="name"><i>Название</i></label>
                <div>
                    <button onClick="createBook()">
                        Добавить
                    </button>
                </div>
        </form>
        <ul>
            {% for book in book_list %}
            <li>
                <div>
                    <div>
                        {{ book['name'] }}
                    </div>
                    <div>
                        {{ book['author'] }}
                    </div>
            </li>
            {% endfor%}
        </ul>
    </body>
</html>
